@import "../../components/normalize-css/normalize.css"
@import "../../components/slick-carousel/slick/slick.css"
@import "../../components/slick-carousel/slick/slick-theme.css"
@import "../../components/font-awesome/css/font-awesome.min.css"
@import "../../components/highlight/src/styles/solarized_light.css"
@import "../../components/angular-material/angular-material.css"

@import "helper/mixin"
@import "helper/animations"

body
  min-width 100%
  min-height 97%
  height auto

gutter = 0em
@import "csswizardry-grids"
  

@import "themes/colors-flat"

nav-fontsize = 1.7em
@import "themes/font-flat"
@import "themes/animation-flat"
@import "themes/base-flat"

@import "modules/content"

circles-overlap = 4%
circles-fontsize = nav-fontsize
@import "modules/circles"

@import "modules/blog"
@import "modules/legend"
@import "modules/timeline"
@import "modules/tag"
@import "modules/filetypes"
@import "modules/slider"
@import "modules/avatar"
@import "modules/highlight"
//@import "helper/debug"
