article#content.content.grid__item.one-whole.animated.active
  .blog
    .grid(ng-repeat="item in res.result | orderBy:'-date'")
      time.grid__item.portable-one-whole.one-fifth(datetime="{{item.date}}", pubdate) {{item.date | date:'MMM d, yyyy'}}
      a.grid__item.portable-one-whole.four-fifths(href="{{item.absPath}}", rel="bookmark" title="{{item.title}}") {{item.title}}
