article#content.project.content.grid__item.one-whole.animated(ng-class='{\'active\': isActive}', ng-hide='isLoading')
    div(ng-bind-html-unsafe='contentCompiled')
      .grid
        .grid__item.one-whole.taglist
          .tag(ng-repeat='tag in r.tags | split') {{tag}}
      a.externalLink(href='{{r.site}}', title='{{r.name}}', ng-show='r.site') {{r.name}}
