a(name="{{location.hash()}}")
article.content.grid__item.one-whole.active#content(ng-controller="tagcloudCtrl")
  h3.taglist(ng-show="currentTag && currentTag !== ''")
    | Show results for 
    a.tag.active(ng-href='{{path}}', title='Click to disable filter') {{currentTag}}
  .grid
    .projects.grid__item.palm-two-thirds.four-fifths
      .grid(ng-repeat="item in res.result | filter:{tags: currentTag} | orderBy:'-time'")
        time.grid__item.portable-one-whole.one-fifth(datetime='{{item.time}}', pubdate='pubdate') {{item.time}}
        a.grid__item.portable-one-whole.four-fifths.title(href='{{item.absPath}}', rel='bookmark', title='{{item.name}}') {{item.name}}
        .grid__item.portable-one-whole.three-fifths.push-desk-one-fifth.summary(ng-bind-html="item.summary | markdown")
        .grid__item.portable-one-whole.three-fifths.push-desk-one-fifth.taglist
          .tag(ng-repeat="tag in item.tags | split") {{tag}}

    .tagcloud.grid__item.palm-one-third.one-fifth
      h3 Skills
        nobr.subtitle (Click to filter)
      tagcloud(ng-attr-tag-source="res.result")
      .description
        p
          | Click on a label to filter.
          br
          | Click again to clear the filter.
