article#content.project.content.grid__item.one-whole.active
    div(ng-bind-html='res.contents', compile-template)
    .grid
      .grid__item.one-whole.taglist
        .tag(ng-repeat='tag in res.tags | split') {{tag}}
    a.externalLink(href='{{res.site}}', title='{{res.name}}', ng-show='res.site', target="_blank") {{res.name}}
