.avatar-container
  text-align center
  &:before
    content ''
    display inline-block
    height 100%
    vertical-align middle


.avatar
  margin auto
  margin-top 5px
  width 75px
  height 75px
  border-radius 50%
  background-image url('images/profile_half.png')
  background-repeat no-repeat
  background-size 100%
  display inline-block
  vertical-align middle

if responsive
  // switching to break in half
	@media portable-media
    .avatar
      width 14vw
      height 14vw

  @media palm-media
    .avatar
      width 25vw
      height 25vw
      margin auto
      
