.avatar
  margin auto
  margin-top 5px
  width 75px
  height 75px
  border-radius 50%
  background-image url('images/profile_half.png')
  background-repeat no-repeat
  background-size 100%

if responsive
  // switching to break in half
	@media portable-media
    .avatar
      margin 1px
