.slider
  width 640px
  margin auto

  .slider-item
    text-align center
    margin auto
    &:focus
      outline none
    img
      display inline-block
      max-width 100%
      max-height 100%

  .slick-prev:before
  .slick-next:before
    color lightgray

  .slick-dots
    position initial

    li button:before
      font-size 13px

if responsive
	@media portable-media
    .slider 
      width 95%
