.slider
  width 640px
  margin auto

  .slider-item
    img
      width 640px

  .slick-prev:before
  .slick-next:before
    color lightgray

  .slick-dots
    position initial

    li button:before
      font-size 13px
