//Overwrite newgrid styles
.storyjs-embed .content
  opacity 1
  max-height none

.storyjs-embed
  footer
    padding-bottom 0

  .vco-slider .slider-item .content .content-container .media
    width auto

//Change positioning to use flex
//First sanitizing display table
.storyjs-embed
  .vco-slider .slider-container-mask .slider-container .slider-item-container
    display block
    height 100%

    .slider-item
      flex(!important)
      overflow-x hidden
      overflow-y hidden !important

      .content
        flex()
        width 100%

  .content-container
    flex !important
    flex-grow 1

    .text
      flex(!important)
      align-items center

    .media
      flex()
      align-items center
      flex-grow 1
      position relative

      .media-wrapper
      .text-media
        position absolute
        top 0px

      .media-wrapper
      .media-container
      .media-image
      .text-media
        width 100%
        height 100%

      .media-image img
        max-height none !important
        max-width none !important
        object-fit contain

    .text-media
      flex()

  .vco-slider .slider-item.max75
    .content .content-container .media .media-wrapper .media-container
      .media-image
        flex()
        align-items center

        img
          max-height 75% !important
          max-width 75% !important
          margin auto

//First image without borders
//Handling for media classes
// - first child
// - noborder
// - iframe
#timeline-embed
  .slider-item-container
    & > .slider-item:first-child .media-shadow:after
    & > .slider-item:first-child .media-shadow:before
    & > .noborder .media-shadow:after
    & > .noborder .media-shadow:before
      content normal
    & > .slider-item:first-child .media-shadow img
    & > .noborder .media-shadow img
      border none

    .iframe .media-shadow
      width 100%
      height 100%

      &:before
      &:after
        content normal

      iframe
        border none
        height 100% !important
        width 100% !important

if responsive
	@media (max-width: 696px)
    .storyjs-embed
      .content-container
        flex-direction column
        justify-content center
